#widgetu2272.fld-err-st #u2274
{
	background: url("../images/u2274-ferr.png") no-repeat 0px 0px;
}

#widgetu2268.fld-err-st #u2269
{
	background: url("../images/u2269-ferr.png") no-repeat 0px 0px;
}

#widgetu2262.fld-err-st #u2265
{
	background: url("../images/u2265-ferr.png") no-repeat 0px 0px;
}

.version.contact /* version checker */
{
	color: #000013;
	background-color: #06F2CE;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 1598px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 84px;
	width: 0.01px;
}

#u285
{
	z-index: 86;
	height: 71px;
	top: 0px;
}

#u285-bw
{
	z-index: 86;
}

#u405
{
	z-index: 87;
	width: 1016px;
	padding-bottom: 62px;
	top: 5px;
	left: 50%;
	margin-left: -456px;
}

#u120
{
	z-index: 88;
	width: 21px;
	top: 8px;
	left: 50%;
	margin-left: -456px;
}

#menuu142
{
	z-index: 90;
	width: 892px;
	top: 5px;
	left: 50%;
	margin-left: -332px;
}

#u143
{
	width: 175px;
	min-height: 61px;
	margin-right: -10000px;
}

#u144
{
	width: 175px;
	padding-bottom: 37px;
}

#u144:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u144.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	height: 24px;
	width: 50px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u165
{
	width: 267px;
	min-height: 61px;
	margin-right: -10000px;
	left: 177px;
}

#u166
{
	width: 267px;
	padding-bottom: 37px;
}

#u166:hover
{
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u166.MuseMenuActive
{
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u169
{
	height: 24px;
	width: 142px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u172
{
	width: 243px;
	min-height: 61px;
	margin-right: -10000px;
	left: 446px;
}

#u175
{
	width: 243px;
	padding-bottom: 37px;
}

#u175:hover
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u175.MuseMenuActive
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u177
{
	height: 24px;
	width: 119px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u179
{
	width: 201px;
	min-height: 61px;
	margin-right: -10000px;
	left: 691px;
}

#u182
{
	width: 201px;
	padding-bottom: 37px;
}

#u182:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u182.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u183
{
	height: 24px;
	width: 77px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#pu2111
{
	width: 0.01px;
}

#u2111
{
	z-index: 17;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 840px;
}

#u2383
{
	z-index: 18;
	width: 1440px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2213
{
	z-index: 20;
	width: 1440px;
	height: 481px;
	background-color: #FA2121;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: relative;
	margin-right: -10000px;
}

#u2214-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
}

#u2214-4-bw
{
	z-index: 21;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 258px;
}

#widgetu2260
{
	z-index: 25;
	width: 0.01px;
	height: 534px;
	margin-left: 108px;
	margin-top: 169px;
	position: relative;
}

#widgetu2268
{
	z-index: 26;
	width: 614px;
	height: 87px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu2268.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 614px;
	height: 87px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2269
{
	z-index: 28;
	height: 25px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u2269.png") no-repeat 0px 0px;
}

#u2270-3
{
	z-index: 30;
	width: 600px;
	min-height: 41px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

.html,#widgetu2268.non-empty-st #u2270-3
{
	background-color: #FFFFFF;
}

#widgetu2268:hover #u2270-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 41px;
	width: 600px;
	margin: 32px -10000px 0px 0px;
}

#widgetu2268.focus-st #u2270-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 41px;
	width: 600px;
	margin: 32px -10000px 0px 0px;
}

#widgetu2268.non-empty-st #u2270-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2268:hover #u2270-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2268.focus-st #u2270-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2272
{
	z-index: 33;
	width: 614px;
	height: 87px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: -1px;
}

#widgetu2272.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 614px;
	height: 87px;
	min-height: 0px;
	margin: 130px -10000px 0px 0px;
}

#u2274
{
	z-index: 35;
	height: 25px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u2274.png") no-repeat 0px 0px;
}

#u2275-3
{
	z-index: 37;
	width: 600px;
	min-height: 41px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#widgetu2272.non-empty-st #u2275-3
{
	background-color: #FFFFFF;
}

#widgetu2272:hover #u2275-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 41px;
	width: 600px;
	margin: 32px -10000px 0px 0px;
}

#widgetu2272.focus-st #u2275-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 41px;
	width: 600px;
	margin: 32px -10000px 0px 0px;
}

#widgetu2268.fld-err-st #u2270-3,#widgetu2272.fld-err-st #u2275-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 41px;
	width: 600px;
	margin: 32px -10000px 0px 0px;
}

#widgetu2272.non-empty-st #u2275-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2272:hover #u2275-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2272.focus-st #u2275-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2268_input,#widgetu2272_input
{
	width: 600px;
	min-height: 41px;
	color: #C4C4C4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	padding: 6px;
}

#u2276-4
{
	z-index: 40;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu2260.frm-sub-st #u2276-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2266-4
{
	z-index: 44;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu2260.frm-subm-err-st #u2266-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2261-4
{
	z-index: 48;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 140px;
}

#widgetu2260.frm-sub-st #u2276-4,#widgetu2260.frm-subm-err-st #u2266-4,#widgetu2260.frm-subm-ok-st #u2261-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2260.frm-subm-ok-st #u2261-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u2267-17
{
	z-index: 52;
	min-height: 49px;
	width: 312px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 130px;
	background: url("../images/u2267-17.png") no-repeat 0px 0px;
}

#u2267-17:hover
{
	background: url("../images/u2267-17-r.png") no-repeat 0px 0px;
}

#u2267-17:active
{
	background: url("../images/u2267-17-m.png") no-repeat 0px 0px;
}

#widgetu2260.frm-sub-st #u2267-17
{
	background: url("../images/u2267-17-fs.png") no-repeat 0px 0px;
}

#widgetu2262
{
	z-index: 69;
	width: 614px;
	height: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: -1px;
}

#widgetu2262.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 614px;
	height: 195px;
	min-height: 0px;
	margin: 260px -10000px 0px 0px;
}

#u2265
{
	z-index: 71;
	height: 25px;
	width: 200px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	background: url("../images/u2265.png") no-repeat 0px 0px;
}

#u2263-3
{
	z-index: 73;
	width: 600px;
	min-height: 152px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#widgetu2262.non-empty-st #u2263-3
{
	background-color: #FFFFFF;
}

#widgetu2262:hover #u2263-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 152px;
	width: 600px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2262.focus-st #u2263-3
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 152px;
	width: 600px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2262.fld-err-st #u2263-3
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 152px;
	width: 600px;
	margin: 29px -10000px 0px 0px;
}

#widgetu2262.non-empty-st #u2263-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2262:hover #u2263-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2262.focus-st #u2263-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu2268.fld-err-st #u2270-3 *,#widgetu2272.fld-err-st #u2275-3 *,#widgetu2262.fld-err-st #u2263-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2262_input
{
	width: 600px;
	min-height: 152px;
	color: #C4C4C4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	padding: 6px;
}

#widgetu2268:hover #widgetu2268_input,#widgetu2268.focus-st #widgetu2268_input,#widgetu2268.fld-err-st #widgetu2268_input,#widgetu2272:hover #widgetu2272_input,#widgetu2272.focus-st #widgetu2272_input,#widgetu2272.fld-err-st #widgetu2272_input,#widgetu2262:hover #widgetu2262_input,#widgetu2262.focus-st #widgetu2262_input,#widgetu2262.fld-err-st #widgetu2262_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u2433-8
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-left: 829px;
	top: -513px;
	margin-bottom: -147px;
	position: relative;
}

#u2389
{
	z-index: 76;
	width: 494px;
	height: 92px;
	margin-left: 838px;
	top: -320px;
	margin-bottom: -92px;
	position: relative;
	background: transparent url("../images/resumebutton-normal2.jpg") no-repeat left top;
	background-size: contain;
}

#u2389:hover
{
	width: 494px;
	height: 92px;
	min-height: 0px;
	margin: 0px 0px -92px 838px;
	background: transparent url("../images/resumebutton-rollover2.jpg") no-repeat left top;
	background-size: contain;
}

#u2389:active
{
	width: 494px;
	height: 92px;
	min-height: 0px;
	margin: 0px 0px -92px 838px;
	background: transparent url("../images/resumebutton-down.jpg") no-repeat left top;
	background-size: contain;
}

#u2389.MuseLinkActive
{
	width: 494px;
	height: 92px;
	min-height: 0px;
	margin: 0px 0px -92px 838px;
	background: transparent url("../images/resumebutton-active.jpg") no-repeat left top;
	background-size: contain;
}

#u2411
{
	z-index: 77;
	width: 494px;
	height: 92px;
	margin-left: 838px;
	top: -172px;
	margin-bottom: -92px;
	position: relative;
	background: transparent url("../images/digitalportfoliobutton-normal2.jpg") no-repeat left top;
	background-size: contain;
}

#u2411:hover
{
	width: 494px;
	height: 92px;
	min-height: 0px;
	margin: 0px 0px -92px 838px;
	background: transparent url("../images/digitalportfoliobutton-rollover2.jpg") no-repeat left top;
	background-size: contain;
}

#u2411:active
{
	width: 494px;
	height: 92px;
	min-height: 0px;
	margin: 0px 0px -92px 838px;
	background: transparent url("../images/digitalportfoliobutton-down.jpg") no-repeat left top;
	background-size: contain;
}

#u293
{
	z-index: 2;
	width: 1444px;
	padding-bottom: 62px;
	left: -2px;
	margin-top: 159px;
}

#u336-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 74px;
	left: 253px;
}

#u318-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 63px;
	left: 568px;
}

#u342
{
	z-index: 15;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1030px;
}

#u347
{
	z-index: 13;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1108px;
}

#u352
{
	z-index: 11;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1186px;
}

body
{
	position: relative;
	min-width: 1440px;
}

#page .verticalspacer
{
	clear: both;
}

