.version.jolie /* version checker */
{
	color: #0000F9;
	background-color: #41717D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 1603.9999999999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 134px;
	width: 0.01px;
}

#u285
{
	z-index: 32;
	height: 71px;
	top: 0px;
}

#u285-bw
{
	z-index: 32;
}

#u405
{
	z-index: 33;
	width: 1016px;
	padding-bottom: 62px;
	top: 5px;
	left: 50%;
	margin-left: -456px;
}

#u120
{
	z-index: 34;
	width: 21px;
	top: 8px;
	left: 50%;
	margin-left: -456px;
}

#menuu142
{
	z-index: 36;
	width: 892px;
	top: 5px;
	left: 50%;
	margin-left: -332px;
}

#u143
{
	width: 175px;
	min-height: 61px;
	margin-right: -10000px;
}

#u144
{
	width: 175px;
	padding-bottom: 37px;
}

#u144:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u144.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	height: 24px;
	width: 50px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u165
{
	width: 267px;
	min-height: 61px;
	margin-right: -10000px;
	left: 177px;
}

#u166
{
	width: 267px;
	padding-bottom: 37px;
}

#u166:hover
{
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u166.MuseMenuActive
{
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u169
{
	height: 24px;
	width: 142px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u172
{
	width: 243px;
	min-height: 61px;
	margin-right: -10000px;
	left: 446px;
}

#u175
{
	width: 243px;
	padding-bottom: 37px;
}

#u175:hover
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u175.MuseMenuActive
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u177
{
	height: 24px;
	width: 119px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u179
{
	width: 201px;
	min-height: 61px;
	margin-right: -10000px;
	left: 691px;
}

#u182
{
	width: 201px;
	padding-bottom: 37px;
}

#u182:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u182.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u183
{
	height: 24px;
	width: 77px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#pu2111
{
	width: 0.01px;
	margin-left: 70px;
}

#u2111
{
	z-index: 17;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	left: 770px;
}

#u2551-10
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: -5px;
}

#u2560
{
	z-index: 30;
	width: 616px;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 445px;
}

#u2554
{
	z-index: 29;
	width: 1440px;
	height: 174px;
	margin-top: 103px;
	position: relative;
	background: transparent url("../images/illustration%20button-normal.jpg") no-repeat left top;
	background-size: contain;
}

#u2554:hover
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 103px 0px 0px;
	background: transparent url("../images/illustration%20button-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u2554:active
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 103px 0px 0px;
	background: transparent url("../images/illustration%20button-mouse%20down.jpg") no-repeat left top;
	background-size: contain;
}

#u2555
{
	z-index: 28;
	width: 1440px;
	height: 174px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	background: transparent url("../images/graphicdesignbutton-normal.jpg") no-repeat left top;
	background-size: contain;
}

#u2555:hover
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 0px 0px -1px;
	background: transparent url("../images/graphicdesignbutton-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u2555:active
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 0px 0px -1px;
	background: transparent url("../images/graphicdesignbutton-mouse%20down.jpg") no-repeat left top;
	background-size: contain;
}

#u293
{
	z-index: 2;
	width: 1444px;
	padding-bottom: 62px;
	left: -2px;
}

#u336-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 74px;
	left: 253px;
}

#u318-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 63px;
	left: 568px;
}

#u342
{
	z-index: 15;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1030px;
}

#u347
{
	z-index: 13;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1108px;
}

#u352
{
	z-index: 11;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1186px;
}

body
{
	position: relative;
	min-width: 1440px;
}

#page .verticalspacer
{
	clear: both;
}

