.version.pixar_brochure /* version checker */
{
	color: #000009;
	background-color: #F9F893;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1440px;
	min-height: 4968.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 134px;
	width: 0.01px;
}

#u285
{
	z-index: 74;
	height: 71px;
	top: 0px;
}

#u285-bw
{
	z-index: 74;
}

#u405
{
	z-index: 75;
	width: 1016px;
	padding-bottom: 62px;
	top: 5px;
	left: 50%;
	margin-left: -456px;
}

#u120
{
	z-index: 76;
	width: 21px;
	top: 8px;
	left: 50%;
	margin-left: -456px;
}

#menuu142
{
	z-index: 78;
	width: 892px;
	top: 5px;
	left: 50%;
	margin-left: -332px;
}

#u143
{
	width: 175px;
	min-height: 61px;
	margin-right: -10000px;
}

#u144
{
	width: 175px;
	padding-bottom: 37px;
}

#u144:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u144.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	height: 24px;
	width: 50px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u165
{
	width: 267px;
	min-height: 61px;
	margin-right: -10000px;
	left: 177px;
}

#u166
{
	width: 267px;
	padding-bottom: 37px;
}

#u166:hover
{
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u166.MuseMenuActive
{
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u169
{
	height: 24px;
	width: 142px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u172
{
	width: 243px;
	min-height: 61px;
	margin-right: -10000px;
	left: 446px;
}

#u175
{
	width: 243px;
	padding-bottom: 37px;
}

#u175:hover
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u175.MuseMenuActive
{
	width: 243px;
	min-height: 0px;
	margin: 0px;
}

#u177
{
	height: 24px;
	width: 119px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#u179
{
	width: 201px;
	min-height: 61px;
	margin-right: -10000px;
	left: 691px;
}

#u182
{
	width: 201px;
	padding-bottom: 37px;
}

#u182:hover
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u182.MuseMenuActive
{
	width: 201px;
	min-height: 0px;
	margin: 0px;
}

#u183
{
	height: 24px;
	width: 77px;
	margin-right: -10000px;
	top: 18px;
	left: 62px;
}

#pu2111
{
	width: 0.01px;
}

#u2111
{
	z-index: 17;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	left: 840px;
}

#u1408-10
{
	z-index: 20;
	display: block;
	vertical-align: top;
}

#u1408-10-bw
{
	z-index: 20;
	margin-top: 39px;
}

#u2720
{
	z-index: 36;
	width: 1141px;
	background-color: transparent;
	margin-left: 149px;
	margin-top: 43px;
	position: relative;
}

#u2728
{
	z-index: 38;
	width: 247px;
	background-color: transparent;
	margin-left: 709px;
	margin-top: 68px;
	position: relative;
}

#u2823
{
	z-index: 42;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 49px;
	position: relative;
}

#u2734
{
	z-index: 43;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2739
{
	z-index: 45;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u2822
{
	z-index: 47;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 49px;
	position: relative;
}

#u2744
{
	z-index: 48;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2749
{
	z-index: 50;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u2821
{
	z-index: 52;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 48px;
	position: relative;
}

#u2754
{
	z-index: 53;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2759
{
	z-index: 55;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u2820
{
	z-index: 57;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 49px;
	position: relative;
}

#u2764
{
	z-index: 58;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2769
{
	z-index: 60;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u2819
{
	z-index: 62;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 49px;
	position: relative;
}

#u2774
{
	z-index: 63;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2779
{
	z-index: 65;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u2784
{
	z-index: 40;
	width: 494px;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 48px;
	position: relative;
}

#u2818
{
	z-index: 69;
	width: 494px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 49px;
	position: relative;
}

#u2789
{
	z-index: 70;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2794
{
	z-index: 72;
	width: 247px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#u2799
{
	z-index: 67;
	width: 247px;
	background-color: transparent;
	margin-left: 462px;
	margin-top: 48px;
	position: relative;
}

#pu2710
{
	width: 0.01px;
	margin-left: 150px;
	margin-top: 111px;
}

#u2710
{
	z-index: 32;
	width: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2704
{
	z-index: 30;
	width: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 389px;
}

#u2715
{
	z-index: 34;
	width: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 777px;
}

#u1332
{
	z-index: 18;
	width: 1440px;
	height: 174px;
	margin-top: 87px;
	position: relative;
	background: transparent url("../images/graphicdesignbutton-normal.jpg") no-repeat left top;
	background-size: contain;
}

#u1332:hover
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 87px 0px 0px;
	background: transparent url("../images/graphicdesignbutton-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u1332:active
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 87px 0px 0px;
	background: transparent url("../images/graphicdesignbutton-mouse%20down.jpg") no-repeat left top;
	background-size: contain;
}

#u1354
{
	z-index: 19;
	width: 1440px;
	height: 174px;
	position: relative;
	background: transparent url("../images/illustration%20button-normal.jpg") no-repeat left top;
	background-size: contain;
}

#u1354:hover
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/illustration%20button-rollover.jpg") no-repeat left top;
	background-size: contain;
}

#u1354:active
{
	width: 1440px;
	height: 174px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/illustration%20button-mouse%20down.jpg") no-repeat left top;
	background-size: contain;
}

#u293
{
	z-index: 2;
	width: 1444px;
	padding-bottom: 62px;
	left: -2px;
	top: -2px;
	margin-bottom: -2px;
}

#u336-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 74px;
	left: 253px;
}

#u318-4
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: 63px;
	left: 568px;
}

#u342
{
	z-index: 15;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1030px;
}

#u347
{
	z-index: 13;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1108px;
}

#u352
{
	z-index: 11;
	width: 43px;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1186px;
}

body
{
	position: relative;
	min-width: 1440px;
}

#page .verticalspacer
{
	clear: both;
}

